.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}
.chat__header {
  padding: 8px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
  h3 {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  p {
    font-size: 14px;

    color: gray;
  }
}
.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px 60px;
  padding-top: 40px;

  overflow: scroll;
}
.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 50px;
}
.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat__name {
  position: absolute;
  top: -35px;
  left: 5px;
  font-size: x-small;
  font-weight: 800;
  display: flex;
  align-items: center;
  // Avatar {
  //   height: 5px !important;
  // }
  cursor: pointer;
  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
.chat__timestamp {
  font-size: small;
  // margin-left: 10px;
  position: relative;
  color: gray;
  display: inline-block;
  width: -moz-fit-content;
  width: 100%;
  text-align: right;
}
.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  form {
    flex: 1;
    display: flex;
    input {
      flex: 1;
      border-radius: 10px;
      border: none;
      padding: 10px;
      margin: 10px;

      &:focus {
        outline: none;
      }
    }
    button {
      // display: none;
      border-radius: 5px;
      border: transparent;
      // margin-left: 10px;
      color: rgb(82, 82, 82);
      font-weight: 700;
      cursor: pointer;
      transition: all linear 0.1s;
      &:hover {
        background-color: unset;
      }
    }
  }
  .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
  }
}
