.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}
.sidebar__headerRight {
  display: flex;
  min-width: 5vw;
  justify-content: space-between;
  align-items: center;
}
.sidebar__search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 10px;
  background-color: #f6f6f6;
}
.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  input {
    border: none;
    margin-left: 10px;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
  .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
  }
}
.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}

@media screen and (max-width: 800px) {
  .sidebar {
    flex: 0.01;
    // display: none;
    // display: none;
    // transform: translate(-400px);
    transition: all 0.3s linear;
    display: none;
  }
  .show {
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 3;
    height: 100%;
    transition: all 0.3s linear;
    width: 100vw;

    // transform: translate(400px);
  }
}
