.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  max-height: 40px;
  overflow: hidden;
  position: relative;
  // color: black;
  border-bottom: 1px solid #f6f6f6;
  &:hover {
    background-color: #ebebeb;
  }
  h1 {
    color: gray;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiSvgIcon-root {
      // color: red;
      margin-right: 10px;
      // display: none !important;
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
.sidebarChat__info {
  // color: black;
  margin-left: 15px;
  max-width: 70%;
  h2 {
    font-size: 16px;
    // margin-bottom: 8px;
  }
  p {
    max-lines: 1 !important;
    line-height: 2;
  }
  span {
    color: gray;
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 20px;
    // display:none;
  }
}
